# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local video files 
downloads/
downloads_balanced/
stock-video/
WIP_notebooks/
old_notebooks/
predictions/

# Conv3D models are too large for GitHub storage. Add them to Google Drive.
conv3D/*.keras

# misc
__pycache__/
.venv
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
old/
