# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local video files 
downloads/
downloads_balanced/
stock-video/
WIP_notebooks/
old_notebooks/
predictions/
ignore/

# Conv3D models are too large for GitHub storage. Add them to Google Drive.
conv3d/*
model_types/conv3d/*.keras

# misc
__pycache__/
.venv
.mypy_cache
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
old/
histo/video_classification_model.pkl
histo/label_map.pkl
model_types/conv3d/models
model_types/inflated_3d/ucf101
model_types/inflated_3d/End_of_a_jam.ogv
model_types/inflated_3d/animation.gif
model_types/Xception/ucf101
model_types/Xception/animation.gif
wip/